<?xml version="1.0" ?>
<config>
    <modules>
        <LeMike_DevMode>
            <version>0.2.0</version>
        </LeMike_DevMode>
    </modules>

    <global>
        <blocks>
            <lemike_devmode>
                <class>LeMike_DevMode_Block</class>
            </lemike_devmode>
        </blocks>
        <helpers>
            <lemike_devmode>
                <class>LeMike_DevMode_Helper</class>
            </lemike_devmode>
        </helpers>
        <models>
            <lemike_devmode>
                <class>LeMike_DevMode_Model</class>
            </lemike_devmode>
            <lemike_devmode_resource>
                <class>LeMike_DevMode_Model_Resource</class>
                <entities>
                    <core_mail>
                        <table>lemike_devmode_core_mail</table>
                    </core_mail>
                </entities>
            </lemike_devmode_resource>
            <core>
                <rewrite>
                    <email>LeMike_DevMode_Model_Core_Email</email>
                    <email_template>LeMike_DevMode_Model_Core_Email_Template</email_template>
                    <email_transport>LeMike_DevMode_Model_Core_Email_Transport</email_transport>
                </rewrite>
            </core>
        </models>
    </global>

    <frontend>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <lemike_devmode>
                        <class>lemike_devmode/observer</class>
                        <method>controllerFrontSendResponseBefore</method>
                    </lemike_devmode>
                </observers>
            </controller_front_send_response_before>
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <lemike_devmode>
                        <class>lemike_devmode/observer</class>
                        <method>controllerActionPredispatchCustomerAccountLoginPost</method>
                    </lemike_devmode>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <lemike_devmode before="Mage_Adminhtml">LeMike_DevMode_Adminhtml</lemike_devmode>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <lemike_devmode>LeMike_DevMode.csv</lemike_devmode>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>

        <layout>
            <updates>
                <lemike_devmode>
                    <file>LeMike_DevMode.xml</file>
                </lemike_devmode>
            </updates>
        </layout>
    </adminhtml>
</config>
