<?xml version="1.0" ?>
<config>
    <modules>
        <LeMike_DevMode>
            <version>0.3.0</version>
        </LeMike_DevMode>
    </modules>

    <global>
        <blocks>
            <lemike_devmode>
                <class>LeMike_DevMode_Block</class>
            </lemike_devmode>
        </blocks>
        <helpers>
            <lemike_devmode>
                <class>LeMike_DevMode_Helper</class>
            </lemike_devmode>
        </helpers>
        <models>
            <lemike_devmode>
                <class>LeMike_DevMode_Model</class>
            </lemike_devmode>
            <core>
                <rewrite>
                    <email>LeMike_DevMode_Model_Core_Email</email>
                    <email_template>LeMike_DevMode_Model_Core_Email_Template</email_template>
                </rewrite>
            </core>
        </models>

        <events>
            <controller_front_init_before>
                <observers>
                    <lemike_devmode>
                        <class>lemike_devmode/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </lemike_devmode>
                </observers>
            </controller_front_init_before>
            <controller_action_predispatch>
                <observers>
                    <lemike_devmode>
                        <class>lemike_devmode/observer</class>
                        <method>controllerActionPredispatch</method>
                    </lemike_devmode>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>

    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <lemike_devmode>
                        <class>lemike_devmode/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </lemike_devmode>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_postdispatch>
                <observers>
                    <lemike_devmode>
                        <class>lemike_devmode/observer</class>
                        <method>controllerActionPostdispatch</method>
                    </lemike_devmode>
                </observers>
            </controller_action_postdispatch>
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <lemike_devmode>
                        <class>lemike_devmode/observer</class>
                        <method>controllerActionPredispatchCustomerAccountLoginPost</method>
                    </lemike_devmode>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
            <controller_front_send_response_before>
                <observers>
                    <lemike_devmode>
                        <class>lemike_devmode/observer</class>
                        <method>controllerFrontSendResponseBefore</method>
                    </lemike_devmode>
                </observers>
            </controller_front_send_response_before>
        </events>
        <layout>
            <updates>
                <lemike_devmode>
                    <file>LeMike_DevMode.xml</file>
                </lemike_devmode>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <lemike_devmode before="Mage_Adminhtml">LeMike_DevMode_Adminhtml</lemike_devmode>
                    </modules>
                </args>
            </adminhtml>
            <lemike_devmode>
                <use>admin</use>
                <args>
                    <module>LeMike_DevMode</module>
                    <frontName>devmode</frontName>
                </args>
            </lemike_devmode>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <lemike_devmode>LeMike_DevMode.csv</lemike_devmode>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>

        <layout>
            <updates>
                <lemike_devmode>
                    <file>LeMike_DevMode.xml</file>
                </lemike_devmode>
            </updates>
        </layout>
    </adminhtml>

    <phpunit>
        <suite>
            <modules>
                <LeMike_DevMode/>
            </modules>
        </suite>
    </phpunit>
</config>
