<?xml version="1.0" ?>
<config>
    <tabs>
        <lemike_devmode translate="label" module="lemike_devmode">
            <label>Developer Mode</label>
            <sort_order>99999</sort_order>
        </lemike_devmode>
    </tabs>
    <sections>
        <lemike_devmode_general translate="label" module="lemike_devmode">
            <label>General</label>
            <tab>lemike_devmode</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <bestCodingPractices translate="label">
                    <label>Best coding practices</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Active</label>
                            <comment>
                                <![CDATA[
                                Will warn when it finds something awkward while running magento.
                                ]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                    </fields>
                </bestCodingPractices>
                <environment translate="label">
                    <label>Environment</label>
                    <frontent_type>text</frontent_type>
                    <sort_order>105030100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <ideRemoteCallEnabled translate="label">
                            <label>Enable IDE remote call</label>
                            <comment><![CDATA[Install the "Remote Call" plugin in PHPStorm.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ideRemoteCallEnabled>
                        <remoteCallUrlTemplate translate="label">
                            <label>Remote call url template</label>
                            <comment><![CDATA[First %s will be replaced by file, second %s by line number]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </remoteCallUrlTemplate>
                    </fields>
                </environment>
                <security translate="label">
                    <label>Security</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>105130100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <allow_restricted_ip_only>
                            <label>Restricted IPs only</label>
                            <comment>
                                As configured in dev/restrict/allow_ips.
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow_restricted_ip_only>
                        <admin_login_user>
                            <label>Auto-login</label>
                            <comment>
                                Auto login to the backend as this user if you work local.
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>lemike_devmode/admin_system_config_admin</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </admin_login_user>
                    </fields>
                </security>
            </groups>
        </lemike_devmode_general>
        <lemike_devmode_core translate="label" module="lemike_devmode">
            <label>Core</label>
            <tab>lemike_devmode</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <email translate="label">
                    <label>E-Mail</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>105130100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active>
                            <label>Send mails</label>
                            <comment>
                                Turn sending mails on/off. If Off then it will output mails to browser.
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <recipient>
                            <label>Recipient of all mail</label>
                            <comment>
                                This will override all mail recipients and deliver the mail
                                to the given address.
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </recipient>
                    </fields>
                </email>
            </groups>
        </lemike_devmode_core>
        <lemike_devmode_customer>
            <label>Customer</label>
            <tab>lemike_devmode</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <customer translate="label">
                    <label>Customer</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1032119</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <password>
                            <label>Maintenance Password</label>
                            <comment>
                                <![CDATA[
                                <strong>Caution: Raw text!</strong><br />
                                Password which what you can login in every account.
                                Keep it simple, it will have no encryption.
                                ]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                    </fields>
                </customer>
            </groups>
        </lemike_devmode_customer>
    </sections>
</config>
